version: "3.9"

services:
  cmmdb:
    image: mariadb:10.11
    container_name: cmmdb
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${DATABASE_NAME}
      MARIADB_USER: ${DATABASE_USER}
      MARIADB_PASSWORD: ${DATABASE_PASSWORD}
      TZ: ${TZ}

    volumes:
      - ./mariadb/data:/var/lib/mysql
      - ./mariadb/init:/docker-entrypoint-initdb.d

    networks:
      - cmm-network
    ports:
      - "3306:3306"
    healthcheck:
      test:
        [
          "CMD", "mariadb-admin","ping","-h","localhost","-u","root","-p${MARIADB_ROOT_PASSWORD}"
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    image: saobacdauapp/app-backend:1.0.0
    container_name: app-backend
    env_file:
      - .env
    environment:
      SPRING_JPA_SHOW_SQL: "true"
      SERVER_PORT: 8181
      JWT_SECRET: WlSKedhlklTqSrR1VajEv/U46TLFKfLGqNk5d8MqfkNfyuHTuRpeu5bQCxxvvRlRk1G/F6WahwflnqKZP40KaQ==
      JAVA_OPTS: ${JAVA_OPTS:--Xms512m -Xmx1024m  -Dspring.profiles.active=staging}

    ports:
      - "8181:8181"
    networks:
      - cmm-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8181" ]
      interval: 10s        # mỗi 10s kiểm tra 1 lần
      timeout: 5s          # nếu không trả về trong 5s → fail
      retries: 5           # thử lại 5 lần trước khi coi là unhealthy
      start_period: 40s    # chờ 40s sau khi container start mới bắt đầu check
    volumes:
      - ./logs:/app/logs/

  receiver:
    image: saobacdauapp/app-receiver:1.0.0
    container_name: app-receiver
    env_file:
      - .env
    environment:
      # Runtime environment variables
      SPRING_JPA_SHOW_SQL: "true"
      SERVER_PORT: 8282
      JWT_SECRET: WlSKedhlklTqSrR1VajEv/U46TLFKfLGqNk5d8MqfkNfyuHTuRpeu5bQCxxvvRlRk1G/F6WahwflnqKZP40KaQ==
      JAVA_OPTS: ${JAVA_OPTS:--Xms512m -Xmx1024m  -Dspring.profiles.active=staging}
    ports:
      - "8282:8282"
    networks:
      - cmm-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8282" ]
      interval: 10s        # mỗi 10s kiểm tra 1 lần
      timeout: 5s          # nếu không trả về trong 5s → fail
      retries: 5           # thử lại 5 lần trước khi coi là unhealthy
      start_period: 40s    # chờ 40s sau khi container start mới bắt đầu check
    volumes:
      - ./logs:/app/logs/

  frontend:
    image: saobacdauapp/app-backend:1.0.0
    container_name: app-frontend
    depends_on:
      - backend
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./cert:/etc/nginx/cert/
    ports:
      - "80:80"
      - "443:443"
    networks:
      - cmm-network
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M

networks:
  cmm-network:
    name: cmm-network
    driver: bridge
